<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GardenGroupDB" connectionString="mongodb+srv://Admin:pasword1234@project0.tlqc8.mongodb.net/"/>
		<add name="Collection" connectionString="GardenGroup"/> 
		<add name="SMTP" connectionString="gardengroup.noreplay@gmail.com:rysx xcdz obfv qyne"/>
	</connectionStrings>
</configuration>